<div>
  <carousel>
  <slide>
    <img src="assets/skills/learning.svg" alt="Interactive learning" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      
    </div>
  </slide>
  <slide>
    <img src="assets/skills/onlineclass.svg" alt="Online classroom" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
    </div>
  </slide>
  <slide>
    <img src="assets/skills/teaching.svg" alt="Expert teaching" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
    </div>
  </slide>

  
</carousel>
    <div class="trusted-section">
        <h3>Knowledge is power that never dies.</h3>
    </div>
    <app-plans-and-pricing></app-plans-and-pricing>
</div>